* {
  color: black;
}

/* 공통 */
html,
body,
#app {
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blind {
  overflow: hidden !important;
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
}

/* 헤더 S */
.header {
  position: fixed;
  z-index: 100;
  background-color: white;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
  width: 100%;
}
.header--yellow {
  background-color: #fffbee;
}
.header--skyblue {
  background-color: #f9fafd;
}
.header__nav {
  width: 1062px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* 헤더__로고 S */
.header__logoHeading {
  width: 252px;
  background: url('@/assets/img/common/gnb/logo_pc.png');
  background-size: 252px auto;
  margin-top: 17px;
}
.header__logoLink {
  display: block;
  width: 170px;
  height: 54px;
}
/* 헤더__로고 E */

/* 헤더__gnb S */
.header__gnbList {
  gap: 18px;
}
.header__gnbList--onSub {
  padding-bottom: 109px;
}
.header__gnbItem {
  position: relative;
}
.header__gnbItemLink {
  position: relative;
  width: 162px;
  height: 88px;
  font-size: 20px;
  font-weight: bold;
}
.header__gnbItemLink--on {
  color: #ffcd03;
}
.header__gnbItemLink--on::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: 0;
  background-color: #ffcd03;
}
.header__gnbSubList {
  position: absolute;
  top: 88px;
  height: 109px;
}
.header__gnbSubList.curriculum {
  transform: translate(calc(-405px + 81px), 0);
}
.header__gnbSubItem {
  color: #555;
}
.header__gnbSubItem--on {
  color: black;
  background-color: #f2f6fc;
  border-radius: 100px;
}
.header__gnbSubList.workbook .header__gnbSubItem--on.level1 {
  background-color: #ffe990;
}
.header__gnbSubItemLink {
  color: inherit;
  box-sizing: border-box;
  width: 162px;
  height: 54px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.6px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink {
  padding-left: 73px;
  padding-right: 32px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink--1 {
  background: url('@/assets/img/common/gnb/nav_link_sub_01.png') no-repeat 34px
    50%/35px 28px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink--2 {
  background: url('@/assets/img/common/gnb/nav_link_sub_02.png') no-repeat 34px
    50%/35px 28px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink--3 {
  background: url('@/assets/img/common/gnb/nav_link_sub_03.png') no-repeat 34px
    50%/35px 28px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink--4 {
  background: url('@/assets/img/common/gnb/nav_link_sub_04.png') no-repeat 34px
    50%/35px 28px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink--5 {
  background: url('@/assets/img/common/gnb/nav_link_sub_05.png') no-repeat 34px
    50%/35px 28px;
}
/* 헤더__gnb E */
/* 헤더 E */

/* 인트로 페이지 */
.introPage {
}
/* 인트로 페이지__introSec */
.introSec {
  position: relative;
  box-sizing: border-box;
  padding-top: 94px;
  height: 1201px;
  background: url('@/assets/img/IntroPage/intro/jr-pc-main-bg-v2.png') #f2f5fb
    no-repeat 50% 0/2048px 1080px;
  overflow: hidden;
}
.introSec::after {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: 20;
  display: block;
  width: 100%;
  height: 240px;
  background: url('@/assets/img/IntroPage/intro/spot_gradient_tb.png');
}
.introSec__inner {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 30;
  box-sizing: border-box;
  max-width: 1062px;
  height: 1080px;
  margin: 0 auto;
  padding-top: 220px;
}
.introSec__bgSlide {
  position: absolute;
  z-index: 10;
  margin-left: 110px;
  left: -47%;
  top: 70px;
  width: 2295px;
  height: 1201px;
  background: url('@/assets/img/IntroPage/intro/jr-pc-main-v3.png') no-repeat 0
    0/2295px 1201px;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}
.introSec__titleBox {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -1.28px;
}
.introSec__titleImg {
  width: 432px;
  height: 101px;
  margin-top: 25px;
}
.introSec__desc1 {
  margin-top: 40px;
  letter-spacing: -1.28px;
  line-height: 48px;
  font-size: 32px;
  color: #6c7683;
}
.introSec__desc2Box {
  position: relative;
}
.introSec__desc2 {
  margin-top: 28px;
  display: block;
  width: fit-content;
  padding: 0 20px;
  background-color: #dbe4f2;
  color: #6c768e;
  letter-spacing: -0.88px;
  line-height: 49px;
  border-radius: 8px;
  font-size: 22px;
}
.introSec__desc2::after {
  content: '';
  position: relative;
  top: 3px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  background: url('@/assets/img/IntroPage/intro/ico_notice.png');
  background-size: 24px 24px;
}
.introSec__desc2Sub {
  position: absolute;
  top: 100%;
  box-sizing: border-box;
  width: 404px;
  height: 246px;
  padding: 50px 24px 0;
  background: url('@/assets/img/IntroPage/intro/notice_text_bg.png') no-repeat 0
    100%/404px 238px;
  font-size: 20px;
  letter-spacing: -2.7px;
  line-height: 1.7;
}
.introSec__desc2Sub strong {
  font-weight: bold;
}
.introSec__downBtnBox {
  position: relative;
  margin-top: 46px;
}
.introSec__dropdownBtn {
  display: block;
  width: 169px;
  height: 79px;
  font-size: 28px;
  letter-spacing: -2.12px;
  font-weight: bold;
  color: white;
  background-color: #232323;
  text-align: center;
  line-height: 79px;
  border-radius: 12px;
  cursor: pointer;
}
.introSec__toDownBtn {
  align-self: center;
  position: absolute;
  bottom: 69px;
  z-index: 20;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: url('@/assets/img/IntroPage/intro/btn_down.png');
  background-repeat: no-repeat;
  background-position: -23px -23px;
  background-size: 104px 104px;
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
