/*** 공통 S ***/
* {
  color: black;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('@/assets/fonts/NanumSquareRoundL.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('@/assets/fonts/NanumSquareRoundR.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('@/assets/fonts/NanumSquareRoundB.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('@/assets/fonts/NanumSquareRoundEB.ttf') format('truetype');
  font-weight: 900;
}

html,
body,
#app {
  width: 100%;
  font-family: 'NanumSquareRound', '-apple-system', 'BlinkMacSystemFont',
    'SFProDisplay', 'AppleSDGothicNeo', 'HelveticaNeue', 'Helvetica', arial,
    'sans-serif';
  font-weight: 500;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.blind {
  overflow: hidden !important;
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
}

/* StrongSpan S */
.strongBox {
  position: relative;
}
.strongBox > .strongBox__text {
  position: relative;
  z-index: 10;
}
.strongBox > .strongBox__underline {
  position: absolute;
  z-index: 5;
  left: 0;
  bottom: -6px;
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  background-color: #ffcd03;
  border-radius: 4px;
}
/* StrongSpan E */

/* 아코디언 S */
.accordion {
  width: 100%;
}
.accordion__header {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  background-color: #c2cadb;
  border-radius: 20px;
}
.accordion__header--headerAsBtn {
  cursor: pointer;
}
.accordion__btn {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.accordion.on .accordion__header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accordion .accordion__body {
  height: 300px;
  background-color: #a0a8ba;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 2px solid rgba(163, 163, 181, 0.5);
}
/* 아코디언 E */
.fade-transition {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out !important;
}
.fade-out-down {
  transform: translateY(50px) !important;
  opacity: 0 !important;
}
/*** 공통 E ***/

/*** 헤더 S ***/
.header {
  position: fixed;
  z-index: 100;
  background-color: white;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
  width: 100%;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.header--hide {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.header--yellow {
  background-color: #fffbee;
}
.header--skyblue {
  background-color: #f9fafd;
}
.header__nav {
  width: 1062px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* 헤더__로고 S */
.header__logoHeading {
  width: 252px;
  background: url('@/assets/img/common/gnb/logo_pc.png');
  background-size: 252px auto;
  margin-top: 17px;
}
.header__logoLink {
  display: block;
  width: 170px;
  height: 54px;
}
/* 헤더__로고 E */

/* 헤더__gnb S */
.header__gnbList {
  gap: 18px;
}
.header__gnbList--onSub {
  padding-bottom: 109px;
}
.header__gnbItem {
  position: relative;
}
.header__gnbItemLink {
  position: relative;
  width: 162px;
  height: 88px;
  font-size: 20px;
  font-weight: 900;
}
.header__gnbItemLink--on {
  color: #ffcd03;
}
.header__gnbItemLink--on::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: 0;
  background-color: #ffcd03;
}
.header__gnbSubList {
  position: absolute;
  top: 88px;
  height: 109px;
}
.header__gnbSubList.curriculum {
  transform: translate(calc(-405px + 81px), 0);
}
.header__gnbSubItem {
  color: #555;
}
.header__gnbSubItem--on {
  color: black;
  background-color: #f2f6fc;
  border-radius: 100px;
}
.header__gnbSubList.workbook .header__gnbSubItem--on.level1 {
  background-color: #ffe990;
}
.header__gnbSubItemLink {
  color: inherit;
  box-sizing: border-box;
  width: 162px;
  height: 54px;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -0.6px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink {
  padding-left: 73px;
  padding-right: 32px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink--1 {
  background: url('@/assets/img/common/gnb/nav_link_sub_01.png') no-repeat 34px
    50%/35px 28px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink--2 {
  background: url('@/assets/img/common/gnb/nav_link_sub_02.png') no-repeat 34px
    50%/35px 28px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink--3 {
  background: url('@/assets/img/common/gnb/nav_link_sub_03.png') no-repeat 34px
    50%/35px 28px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink--4 {
  background: url('@/assets/img/common/gnb/nav_link_sub_04.png') no-repeat 34px
    50%/35px 28px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink--5 {
  background: url('@/assets/img/common/gnb/nav_link_sub_05.png') no-repeat 34px
    50%/35px 28px;
}
/* 헤더__gnb E */
/*** 헤더 E ***/

/*** 푸터 S ***/
.footer {
  background-color: #f1f5fb;
}
.footer__inner {
  width: 1062px;
  padding: 66px 0 67px;
  margin: 0 auto;
}
.footer__logo {
  display: block;
  width: 180px;
  height: 42px;
  float: left;
  background: url('@/assets/img/common/footer/logo_footer.png') no-repeat 0 50%/180px
    42px;
}
.footer__linkList {
  display: flex;
  justify-content: flex-end;
}
.footer__linkList > li {
  height: 42px;
}
.footer__storeLinkItem > div {
  background: url('@/assets/img/common/footer/icon_store.png') no-repeat 0 50%/78px
    42px;
  height: 42px;
}
.footer__storeLinkItem .footer__link {
  width: 39px;
  height: 42px;
}
.footer__linkList > li:not(:nth-last-child(1)) {
  margin-right: 14px;
}
.footer__linkList .footer__link {
  display: inline-block;
}
.footer__linkLogo {
  width: 42px;
  height: 42px;
}
.footer__text,
.footer__copyright {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.52px;
  color: #8a909e;
}
.footer__text {
  margin-top: 26px;
}
.footer__copyright {
  margin-top: 10px;
}
/*** 푸터 E ***/

/*** 인트로 페이지 S ***/
/* 인트로 페이지__introSec S */
#introPage .introSec {
  position: relative;
  box-sizing: border-box;
  padding-top: 94px;
  height: 1201px;
  background: url('@/assets/img/IntroPage/intro/jr-pc-main-bg-v2.png') #f2f5fb
    no-repeat 50% 0/2048px 1080px;
  overflow: hidden;
}
#introPage .introSec::after {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: 20;
  display: block;
  width: 100%;
  height: 240px;
  background: url('@/assets/img/IntroPage/intro/spot_gradient_tb.png');
}
#introPage .introSec__inner {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 30;
  box-sizing: border-box;
  max-width: 1062px;
  height: 1080px;
  margin: 0 auto;
  padding-top: 220px;
}
#introPage .introSec__bgSlide {
  position: absolute;
  z-index: 10;
  margin-left: 110px;
  left: 50%;
  top: 70px;
  width: 2295px;
  height: 1201px;
  background: url('@/assets/img/IntroPage/intro/jr-pc-main-v3.png') no-repeat 0
    0/2295px 1201px;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}
#introPage .introSec__bgSlide--on {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#introPage .introSec__titleBox {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -1.28px;
}
#introPage .introSec__titleImg {
  width: 432px;
  height: 101px;
  margin-top: 25px;
}
#introPage .introSec__desc1 {
  margin-top: 40px;
  letter-spacing: -1.28px;
  line-height: 48px;
  font-size: 32px;
  color: #6c7683;
}
#introPage .introSec__desc2Box {
  position: relative;
}
#introPage .introSec__desc2 {
  margin-top: 28px;
  display: block;
  width: fit-content;
  padding: 0 20px;
  background-color: #dbe4f2;
  color: #6c768e;
  letter-spacing: -0.88px;
  line-height: 49px;
  border-radius: 8px;
  font-size: 22px;
}
#introPage .introSec__desc2::after {
  content: '';
  position: relative;
  top: 3px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  background: url('@/assets/img/IntroPage/intro/ico_notice.png');
  background-size: 24px 24px;
}
#introPage .introSec__desc2Sub {
  position: absolute;
  top: 100%;
  box-sizing: border-box;
  width: 404px;
  height: 246px;
  padding: 50px 24px 0;
  background: url('@/assets/img/IntroPage/intro/notice_text_bg.png') no-repeat 0
    100%/404px 238px;
  font-size: 20px;
  letter-spacing: -0.8px;
  line-height: 1.7;
  z-index: 25;
}
#introPage .introSec__desc2Sub strong {
  font-weight: 900;
}
#introPage .introSec__downBtnBox {
  position: relative;
  box-sizing: border-box;
  margin-top: 46px;
  width: 169px;
}
#introPage .introSec__dropdownBtn {
  display: block;
  width: 100%;
  height: 79px;
  font-size: 28px;
  letter-spacing: -2.12px;
  font-weight: 900;
  color: white;
  background-color: #232323;
  text-align: center;
  line-height: 79px;
  border-radius: 12px;
  cursor: pointer;
}
#introPage .introSec__dropdownBtn--hover {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid rgba(85, 85, 85, 0.32);
}
#introPage .introSec__downBtnList {
  position: absolute;
  top: 100%;
  box-sizing: border-box;
  width: 169px;
  padding: 13px 18px 24px;
  background-color: #232323;
  border-radius: 0 0 12px 12px;
}
#introPage .introSec__downBtnList > li {
  position: relative;
  border-radius: 6px;
}
#introPage .introSec__downBtnList > li:not(:nth-child(1)) {
  margin-top: 12px;
}
#introPage .introSec__downBtnList > li:nth-last-child(1) {
  margin-top: 20px;
}
#introPage .introSec__downBtn {
  display: block;
  height: 45px;
  position: relative;
  z-index: 10;
}
#introPage .introSec__downBtn::after {
  content: '';
  display: block;
  width: 100%;
  height: 45px;
  position: absolute;
  top: 0;
  z-index: 5;
}
#introPage .introSec__downBtn:hover::after {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
#introPage .introSec__downBtn.google {
  background: url('@/assets/img/IntroPage/intro/ico_google_play.png') no-repeat
    50% 50%/115px 28px;
}
#introPage .introSec__downBtn.apple {
  background: url('@/assets/img/IntroPage/intro/ico_app_store.png') no-repeat
    50% 50%/112px 29px;
}
#introPage .introSec__qrImg {
  width: 100%;
  height: auto;
}
#introPage .introSec__toDownBtn {
  align-self: center;
  position: absolute;
  bottom: 69px;
  z-index: 20;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: url('@/assets/img/IntroPage/intro/btn_down.png');
  background-repeat: no-repeat;
  background-position: -23px -23px;
  background-size: 104px 104px;
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
/* 인트로 페이지__introSec E */

/* 인트로 페이지__rcmdSec S */
.rcmdSec {
  background: url('@/assets/img/IntroPage/recommend/jr-pc-section-1.png') #fff
    no-repeat 50% 180px/1548px 327px;
}
.rcmdSec__intro {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.rcmdSec__title {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  padding-top: 40px;
  line-height: 60px;
  letter-spacing: -2.5px;
}
.rcmdSec__awardsImg {
  width: 860px;
  height: auto;
}

.rcmdSec__spinner {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 245px;
  line-height: 245px;
  background-color: lightgray;
  margin: 20px auto 120px;
  font-size: 25px;
}

/* 인트로 페이지__rcmdSec__스와이퍼 S */
.rcmdSec .swiper {
  margin: 20px auto 120px;
  width: 100%;
  height: 245px;
}
.rcmdSec .swiper-slide {
  width: 340px;
}
.rcmdSec__card {
  box-sizing: border-box;
  width: 100%;
  height: 210px;
  padding: 30px 36px 26px 30px;
  background-color: #e9ebf1;
  border: 3px solid #e9ebf1;
  border-radius: 20px;
  -webkit-transition-property: margin;
  transition-property: margin;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.rcmdSec .swiper-slide-prev .rcmdSec__card,
.rcmdSec .swiper-slide-next .rcmdSec__card {
  margin: 35px auto 0;
}
.rcmdSec__card .text {
  font-size: 24px;
  color: #a3a3b5;
  font-weight: 900;
  line-height: 34px;
  letter-spacing: -0.96px;
  word-break: keep-all;
}
.rcmdSec__card .name {
  margin-top: 28px;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.72px;
  color: rgba(163, 163, 181, 0.5);
}
.swiper-slide-active .rcmdSec__card {
  background-color: #fff8e3;
  border: 3px solid #ffab31;
}
.swiper-slide-active .rcmdSec__card .text {
  color: #ffab31;
}
.swiper-slide-active .rcmdSec__card .name {
  color: rgba(255, 171, 49, 0.5);
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  z-index: 10;
  top: calc(50% - 24px);
  cursor: pointer;
  width: 48px;
  height: 48px;
  -webkit-box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50%;
}
.swiper-button-prev {
  background: url('@/assets/img/IntroPage/recommend/icon-90-arrow-left-gray.png')
    #fff no-repeat 50% 50%/28px auto;
  left: 35px;
}
.swiper-button-next {
  background: url('@/assets/img/IntroPage/recommend/icon-90-arrow-right-gray.png')
    #fff no-repeat 50% 50%/28px auto;
  right: 35px;
}
/* 인트로 페이지__rcmdSec__스와이퍼 E */
/* 인트로 페이지__rcmdSec E */

/* 인트로 페이지__effectSec S */
.effectSec {
  padding: 120px 0 300px;
}
.effectSec__inner {
  width: 1062px;
  text-align: center;
  margin: 0 auto;
}
.effectSec__title {
  font-size: 48px;
  font-weight: 900;
}
.effectSec__titleSub {
  font-size: 30px;
  color: #555;
  font-weight: 700;
  margin: 32px 0 40px;
}
.effectSec__figImg {
  width: 1062px;
  height: 764px;
  margin-bottom: 64px;
}
/* 인트로 페이지__effectSec__아코디언 S */
.effectSec .accordion {
  width: 800px;
  margin: 0 auto;
}
.effectSec .accordion__header {
  justify-content: center;
  position: relative;
  height: 67px;
  background-color: #f3f5fb;
  border-radius: 12px;
}
.effectSec .accordion__headerText > strong {
  color: #6c768e;
  font-size: 30px;
  font-weight: 900;
}
.effectSec .accordion__btn {
  position: absolute;
  top: calc(50% - 20px);
  right: 32px;
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url('@/assets/img/IntroPage/effect/icon-80-dropdown.png')
    transparent no-repeat 50% 50%/40px 40px;
  transform: rotate(180deg);
}
.effectSec .accordion.on .accordion__btn {
  transform: rotate(0deg);
}
.effectSec .accordion__body {
  height: fit-content;
  background-color: #fcfcfc;
  font-size: 22px;
  border-top: 2px solid #d8dded;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.effectSec .accordion__body * {
  color: #555;
}
.effectSec .accordion__body .accordion-item {
  text-align: start;
  padding: 24px 32px;
  line-height: 38px;
}
.effectSec .accordion__body .accordion-item:not(:nth-last-child(1)) {
  border-bottom: 2px solid #f3f5fb;
}
.effectSec .accordion__body .accordion-item strong {
  font-weight: 900;
}
.effectSec .accordion__body .study-list {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
}
.effectSec .accordion__body .study-list li {
  display: flex;
}
.effectSec .accordion__body .study-list strong {
  font-weight: 700;
}
/* 인트로 페이지__effectSec__아코디언 E */
/* 인트로 페이지__effectSec E */

/* 인트로 페이지__cpsSec S */
.cpsSec {
  height: 1652px;
  margin: 0 auto;
  background: url('@/assets/img/IntroPage/composition/jr-pc-consist-bg_v2.png')
    #fff no-repeat 50% center/2048px 1652px;
}
.cpsSec__inner {
  text-align: center;
  width: 1062px;
  padding: 344px 0 0;
  margin: 0 auto;
}
.cpsSec__title {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -0.96px;
  line-height: 60px;
}
.cpsSec__nav ul {
  display: flex;
  justify-content: space-between;
  margin-top: 86px;
}
.cpsSec__nav a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 199px;
  height: 72px;
  border: 2.4px solid #c2cadb;
  border-radius: 50px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
  gap: 16px;
}
.cpsSec__nav a.cpsSec__nav--on {
  border: solid 2.4px #6c768e;
  background-color: #fff;
}
.cpsSec__nav a.cpsSec__nav--on span {
  color: #6c768e;
}
.cpsSec__nav a img {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.cpsSec__nav a span {
  color: #a0a8ba;
  font-size: 26px;
  font-weight: 900;
}
.cpsSec__card {
  margin-top: 64px;
}
.cpsSec__cardImg {
  width: 1062px;
  height: 534px;
}
.cpsSec__cardText {
  margin-top: 44px;
  font-size: 40px;
  font-weight: 900;
  line-height: 56px;
  color: #555;
}
/* 인트로 페이지__cpsSec E */

/* 인트로 페이지__cmtSec S */
.cmtSec {
  padding: 220px 0 60px;
}
.cmtSec__title {
  padding-bottom: 80px;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  line-height: 66px;
}
/* 인트로 페이지__cmtSec__스와이퍼 S */
.cmtSec .swiper {
  height: 658px;
}
.cmtSec .swiper-slide {
  width: 882px;
}
.cmtSec .swiper-button-prev {
  background: url('@/assets/img/IntroPage/recommend/icon-90-arrow-left-gray.png')
    #fff no-repeat 50% 50%/28px auto;
  top: 155px;
  left: 35px;
}
.cmtSec .swiper-button-next {
  background: url('@/assets/img/IntroPage/recommend/icon-90-arrow-right-gray.png')
    #fff no-repeat 50% 50%/28px auto;
  top: 155px;
  right: 35px;
}
.cmtSec__card {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-transition-property: margin;
  transition-property: margin;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  font-size: 32px;
  font-weight: 700;
}
.cmtSec .swiper-slide-prev .cmtSec__card {
  margin: 48px auto 0;
}
.cmtSec .swiper-slide-next .cmtSec__card {
  margin: 144px auto 0;
}
.cmtSec__cardTextBox {
  width: 882px;
  min-height: 350px;
  box-sizing: border-box;
  padding: 48px 40px 48px 48px;
  margin-bottom: 48px;
  background-color: #f2f5fb;
  border-radius: 50px;
  border-bottom-left-radius: 0;
}
.cmtSec__card .text {
  color: #1d3764;
  line-height: 1.5;
  letter-spacing: -1.28px;
}
.cmtSec__card .text:not(:nth-last-child(1)) {
  margin-bottom: 20px;
}
.cmtSec__cardWriterBox {
  display: flex;
  letter-spacing: -1.28px;
}
.cmtSec__card .writer {
  display: block;
  color: #1d3764;
  font-weight: 900;
  box-sizing: border-box;
  width: 360px;
  padding: 0 48px;
}
.cmtSec__card .department {
  display: block;
  color: #1d3764;
  line-height: 1.5;
}
/* 인트로 페이지__cmtSec__스와이퍼 E */
/* 인트로 페이지__cmtSec E */

/*** 인트로 페이지 E ***/

/*** 커리큘럼 페이지 S ***/
#curriculumPage {
  padding-top: 75px;
}
.curriculumPage {
  width: 1062px;
  padding-top: 238px;
  margin: 0 auto;
}
.curriculumPage .introSec {
  position: relative;
}
.curriculumPage .introSec__title {
  font-size: 54px;
  font-weight: 900;
  padding-left: 170px;
  line-height: 1.41;
  letter-spacing: -2.16px;
}
.curriculumPage .introSec__title .strongBox {
  display: inline-block;
}
.curriculumPage .introSec__title .strongBox__underline {
  bottom: 8px;
}
.curriculumPage .introSec__titleBadge {
  position: absolute;
  box-sizing: border-box;
  width: 244px;
  height: 116px;
  padding-top: 51px;
  bottom: 8px;
  right: 0;
}
.curriculumPage .introSec__titleBadge::before {
  position: absolute;
  content: '';
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  width: 106px;
  height: 48px;
}
.curriculumPage .introSec__titleBadge::after {
  position: absolute;
  content: '';
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 36px;
  height: 30px;
}
.introSec__titleBadgeText {
  text-align: center;
  height: 116px;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: -0.8px;
}
/* 커리큘럼 페이지__수학 S */
/* 커리큘럼 페이지__수학__introSec S */
.curriculumPage.mathPage .introSec__title {
  background: url('@/assets/img/CurriculumPage/mathPage/img_title_math.png')
    no-repeat 0 50%/136px 141px;
}
.curriculumPage.mathPage .introSec__titleBadgeText {
  color: #97d97f;
}
.curriculumPage.mathPage .introSec__titleBadge {
  background: url('@/assets/img/CurriculumPage/mathPage/bg_badge_math.png')
    no-repeat 50% 0/244px 116px;
}
.curriculumPage.mathPage .introSec__titleBadge::before {
  background: url('@/assets/img/CurriculumPage/mathPage/bg_badge_text_math.png')
    no-repeat 50% 0/106px 48px;
}
.curriculumPage.mathPage .introSec__titleBadge::after {
  background: url('@/assets/img/CurriculumPage/mathPage/bg_badge_ico_math.png')
    no-repeat 50% 0/36px 30px;
}
/* 커리큘럼 페이지__수학__introSec E */

/* 커리큘럼 페이지__수학__crclmSec S */
.mathPage .crclmSec__wrap {
  padding-top: 160px;
}
.mathPage .crclmSec {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.mathPage .crclmSec__title {
  margin: 0 auto;
  font-size: 36px;
  font-weight: 900;
  display: inline-block;
  padding: 20px 28px 18px;
  border-radius: 12px 12px 0 0;
  line-height: 1.17;
  letter-spacing: -1.44px;
}
.mathPage .crclmSec--level1 .crclmSec__title {
  background-color: #00cb50;
}
.mathPage .crclmSec--level2 .crclmSec__title {
  background-color: #fa2;
}
.mathPage .crclmSec__title span {
  color: #fff;
}
.mathPage .crclmSec__title span.bar {
  margin: 0 5px;
}
.mathPage .crclmSec__title > span:last-child {
  color: rgba(255, 255, 255, 0.5);
}
.mathPage .crclmSec__accordionList > li {
  padding: 0 80px;
  border-radius: 40px;
  font-weight: 900;
}
.mathPage .crclmSec__accordionList > li:not(:last-child) {
  margin-bottom: 64px;
}
.mathPage .crclmSec--level1 .crclmSec__accordionList > li {
  background-color: #f0ffea;
}
.mathPage .crclmSec--level2 .crclmSec__accordionList > li {
  background-color: #fff5e0;
}
.mathPage .crclmSec .accordion__header,
.mathPage .crclmSec .accordion__body {
  background-color: transparent;
}
.mathPage .crclmSec .accordion__header {
  padding: 58px 0;
  margin-bottom: 14px;
}
.mathPage .crclmSec .accordion__header strong {
  display: inline-block;
  width: 161px;
  font-size: 41px;
  line-height: 66px;
  letter-spacing: -1.92px;
  vertical-align: top;
}
.mathPage .crclmSec--level1 .accordion__header strong {
  color: #00cb50;
}
.mathPage .crclmSec--level2 .accordion__header strong {
  color: #ffaa22;
}
.mathPage .crclmSec .accordion__header p {
  display: inline-block;
  padding: 7px 0;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: -1.28px;
  vertical-align: top;
}
.mathPage .crclmSec .accordion__btn {
  width: 239px;
  height: 67px;
  background: url('@/assets/img/CurriculumPage/mathPage/btn_math_toggle.png')
    no-repeat 0 0/100% 100%;
  border-radius: 0;
}
.mathPage .crclmSec .on .accordion__btn {
  background: url('@/assets/img/CurriculumPage/mathPage/btn_math_toggle_open.png')
    no-repeat 0 0/100% 100%;
}
.mathPage .crclmSec--level2 .accordion__btn {
  background: url('@/assets/img/CurriculumPage/mathPage/btn_math_toggle_yellow.png')
    no-repeat 0 0/100% 100%;
}
.mathPage .crclmSec--level2 .on .accordion__btn {
  background: url('@/assets/img/CurriculumPage/mathPage/btn_math_toggle_yellow_open.png')
    no-repeat 0 0/100% 100%;
}
.mathPage .crclmSec .accordion__body {
  border-top: 4px solid #bef2ab;
  padding-top: 72px;
  height: fit-content;
}
.mathPage .crclmSec--level2 .accordion__body {
  border-color: #ffe3ac;
}
.mathPage .crclmSec__detailList > li {
  display: flex;
  font-size: 32px;
}
.mathPage .crclmSec__detailList h4 {
  display: inline-block;
  width: 122px;
  height: 75px;
  color: #fff;
  background-color: #6c768e;
  border-radius: 50px;
  text-align: center;
  line-height: 75px;
  letter-spacing: -1.28px;
  margin-bottom: 50px;
}
.mathPage .crclmSec--level1 .crclmSec__detailList h4 {
  background-color: #00cb50;
}
.mathPage .crclmSec--level2 .crclmSec__detailList h4 {
  background-color: #fa2;
}
.mathPage .crclmSec__detailList p {
  padding-top: 14px;
  padding-left: 28px;
  margin-bottom: 50px;
  line-height: 1.5;
  letter-spacing: -1.28px;
}
.mathPage .crclmSec__imgList {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  padding: 76px 0 100px;
}
.mathPage .crclmSec__imgList::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #bef2ab 48%, rgba(255, 255, 255, 0) 0%);
  background-size: 32px 4px;
}
.mathPage .crclmSec--level2 .crclmSec__imgList::before {
  background: linear-gradient(to right, #ffe3ac 48%, rgba(255, 255, 255, 0) 0%);
  background-size: 32px 4px;
}
.mathPage .crclmSec__imgWrap {
  width: 293px;
  height: 220px;
  overflow: hidden;
}
.mathPage .crclmSec__imgWrap img {
  width: 100%;
  height: auto;
}
.mathPage .crclmSec__imgList p {
  padding-top: 26px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.42;
  letter-spacing: -0.96px;
  text-align: center;
  color: #97d97f;
}
.mathPage .crclmSec--level2 .crclmSec__imgList p {
  color: #fabe45;
}
.mathPage .crclmSec__downArrow {
  height: 300px;
  background: url('@/assets/img/CurriculumPage/mathPage/arr_math_progress.png')
    no-repeat 50% 50%/100px 100px;
}
.mathPage .completeSec__imgBox {
  height: 462px;
  background: url('@/assets/img/CurriculumPage/mathPage/bg_math_complete_back.png')
    no-repeat 50% 0/1063px 730px;
}
.mathPage .completeSec__img {
  height: 100%;
  background: url('@/assets/img/CurriculumPage/mathPage/bg_math_complete.png')
    no-repeat 50% 0/1063px 730px;
}
/* 커리큘럼 페이지__수학__crclmSec E */
/* 커리큘럼 페이지__수학 E */

/* 커리큘럼 페이지__코딩 S */
.curriculumPage.codingPage .introSec {
  padding-bottom: 140px;
}
.curriculumPage.codingPage .introSec__title {
  background: url('@/assets/img/CurriculumPage/codingPage/img_title_cording.png')
    no-repeat 0 50%/136px 141px;
}
.curriculumPage.codingPage .introSec__title .strongBox__underline {
  opacity: 0.24;
}
.curriculumPage.codingPage .introSec__detailList {
  padding-top: 72px;
  display: flex;
  justify-content: center;
  gap: 18px;
}
.curriculumPage.codingPage .introSec__detailCard {
  position: relative;
  box-sizing: border-box;
  width: 522px;
  height: 468px;
  border-radius: 24px;
  padding: 44px 20px 32px;
}
.curriculumPage.codingPage .introSec__detailCard.info1 {
  background: url('@/assets/img/CurriculumPage/codingPage/img_info_cording.png')
    #ebf9ff no-repeat 50% 166px/293px 212px;
}
.curriculumPage.codingPage .introSec__detailCard.info2 {
  background: url('@/assets/img/CurriculumPage/codingPage/img_info_cording_2.png')
    #ebf9ff no-repeat 50% 179px/302px 231px;
}
.curriculumPage.codingPage .introSec__detailCard h4 {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: -1.28px;
}
.curriculumPage.codingPage .introSec__detailCard p {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: -0.96px;
  left: 0;
  bottom: 27px;
  color: #555;
}
.codingPage .crclmSec .strongBox {
  display: inline-block;
  line-height: 1.5;
}
.codingPage .crclmSec .strongBox__underline {
  height: 4px;
  background-color: #33b9ff;
  opacity: 0.8;
  border-radius: 2px;
  bottom: 0;
}

.curriculumPage.codingPage .crclmSec__wrap {
  padding: 160px 0 262px;
  width: 1062px;
  margin: 0 auto;
}
.curriculumPage.codingPage .crclmSec {
  width: 1062px;
  box-sizing: border-box;
}
.curriculumPage.codingPage .crclmSec:not(:first-child) {
  margin-top: 200px;
}
.curriculumPage.codingPage .crclmSec.crclmSec--data {
  padding-top: 132px;
  height: 1233px;
  background: url('@/assets/img/CurriculumPage/codingPage/bg_cording_box_01.png')
    no-repeat 0 0/1062px 1233px;
}
.curriculumPage.codingPage .crclmSec.crclmSec--algorithm {
  padding-top: 133px;
  height: 968px;
  background: url('@/assets/img/CurriculumPage/codingPage/bg_cording_box_02.png')
    no-repeat 50% 53px/1063px 917px;
}
.curriculumPage.codingPage .crclmSec.crclmSec--programming {
  padding-top: 100px;
  height: 1445px;
  background: url('@/assets/img/CurriculumPage/codingPage/bg_cording_box_03.png')
    no-repeat 50% 0/1062px 1445px;
}
.curriculumPage.codingPage .crclmSec.crclmSec--ai {
  padding-top: 78px;
  height: 1451px;
  background: url('@/assets/img/CurriculumPage/codingPage/bg_cording_box_04.png')
    no-repeat 50% 0/1063px 1451px;
}
.curriculumPage.codingPage .crclmSec__title {
  font-size: 48px;
  font-weight: 900;
  color: #019bff;
  line-height: 1.38;
  letter-spacing: -1.92px;
  text-align: center;
}
.curriculumPage.codingPage .crclmSec.crclmSec--data .crclmSec__title {
  padding-top: 69px;
  background: url('@/assets/img/CurriculumPage/codingPage/img_cording_box_01.png')
    no-repeat 50% 0/276px 44px;
}
.curriculumPage.codingPage .crclmSec.crclmSec--algorithm .crclmSec__title {
  padding-top: 130px;
  background: url('@/assets/img/CurriculumPage/codingPage/img_cording_box_02.png')
    no-repeat 50% 0/184px 106px;
}
.curriculumPage.codingPage .crclmSec.crclmSec--programming .crclmSec__title {
  padding-top: 121px;
  background: url('@/assets/img/CurriculumPage/codingPage/img_cording_box_03.png')
    no-repeat 50% 0/253px 96px;
}
.curriculumPage.codingPage .crclmSec.crclmSec--ai .crclmSec__title {
  padding-top: 143px;
  background: url('@/assets/img/CurriculumPage/codingPage/img_cording_box_04.png')
    no-repeat 50% 0/168px 117px;
}
.curriculumPage.codingPage .crclmSec__titleText {
  padding: 28px 0 65px;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: -1.28px;
}

.curriculumPage.codingPage
  .crclmSec--programming
  .crclmSec__studyCards:not(div:first-of-type),
.curriculumPage.codingPage
  .crclmSec--ai
  .crclmSec__studyCards:not(div:first-of-type) {
  margin-top: 95px;
}
.curriculumPage.codingPage .crclmSec__studyTitle {
  display: inline-block;
  background-color: #5f9ff9;
  font-size: 24px;
  font-weight: 900;
  color: #e3f3ff;
  height: 43px;
  line-height: 43px;
  letter-spacing: -0.96px;
  border-radius: 21.5px;
  padding: 0 20px;
  margin-bottom: 32px;
}
.curriculumPage.codingPage .crclmSec__studyTitleDesc {
  margin-top: -22px;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: -0.8px;
  text-align: center;
  color: #5f9ff9;
}
.curriculumPage.codingPage .crclmSec__crclmList {
  display: grid;
  justify-content: center;
}
.curriculumPage.codingPage .crclmSec--data .crclmSec__crclmList {
  grid-template-columns: 293px 293px;
  gap: 60px 40px;
}
.curriculumPage.codingPage .crclmSec--algorithm .crclmSec__crclmList {
  grid-template-columns: 293px 293px 293px;
  gap: 40px;
}
.curriculumPage.codingPage .crclmSec--programming .crclmSec__crclmList,
.curriculumPage.codingPage .crclmSec--ai .crclmSec__crclmList {
  grid-template-columns: 293px 293px;
  gap: 40px;
}
.curriculumPage.codingPage
  .crclmSec--ai
  .crclmSec__studyCards:nth-last-child(1)
  .crclmSec__crclmList {
  grid-template-columns: 293px;
}
.crclmSec__studyCard img {
  width: 293px;
  height: auto;
  border-radius: 15px;
}
.crclmSec__studyCard p {
  padding-top: 26px;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.42;
  letter-spacing: -0.96px;
  text-align: center;
  color: #8cb2c9;
}
/* 커리큘럼 페이지__코딩 E */

/* 커리큘럼 페이지__논리 S */
/* 커리큘럼 페이지__논리__introSec S */
.curriculumPage.logicPage .introSec__title {
  padding-top: 30px;
  background: url('@/assets/img/CurriculumPage/logicPage/img_title_logic.png')
    no-repeat 0 100%/136px 180px;
}
.curriculumPage.logicPage .introSec__title .strongBox__underline {
  opacity: 0.24;
}
.curriculumPage.logicPage .introSec__titleBadgeText {
  color: #a9a3d6;
}
.curriculumPage.logicPage .introSec__titleBadge {
  background: url('@/assets/img/CurriculumPage/logicPage/bg_badge_logic.png')
    no-repeat 50% 0/244px 116px;
  right: -31px;
}
.curriculumPage.logicPage .introSec__titleBadge::before {
  background: url('@/assets/img/CurriculumPage/logicPage/bg_badge_text_logic.png')
    no-repeat 50% 0/106px 48px;
}
.curriculumPage.logicPage .introSec__titleBadge::after {
  background: url('@/assets/img/CurriculumPage/logicPage/bg_badge_ico_logic.png')
    no-repeat 50% 0/36px 30px;
}
/* 커리큘럼 페이지__논리__introSec E */

/* 커리큘럼 페이지__논리__crclmSec S */
.logicPage .crclmSec__wrap {
  padding: 160px 0 262px;
  width: 1062px;
}
.logicPage .crclmSec {
  padding-top: 100px;
  box-sizing: border-box;
}
.logicPage .crclmSec + .crclmSec {
  margin-top: 200px;
}
.logicPage .crclmSec--discrimination {
  height: 948px;
  background: url('@/assets/img/CurriculumPage/logicPage/bg_logic_box_01.png')
    no-repeat 0 0/1062px 948px;
}
.logicPage .crclmSec--memory {
  height: 985px;
  border-radius: 80px;
  background-color: #f3f2ff;
}
.logicPage .crclmSec--grouping {
  height: 859px;
  background: url('@/assets/img/CurriculumPage/logicPage/bg_logic_box_03.png')
    no-repeat 50% 0/1062px 859px;
}
.logicPage .crclmSec--space {
  position: relative;
  height: 1063px;
  background: url('@/assets/img/CurriculumPage/logicPage/bg_logic_box_04.png')
    no-repeat 50% 0/1062px 1063px;
  padding-top: 169px;
}
.logicPage .crclmSec--space::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 746px;
  display: block;
  width: 260px;
  height: 260px;
  background: url('@/assets/img/CurriculumPage/logicPage/img_logic_ico_04.png')
    no-repeat 50% 0 / 100% 100%;
  z-index: -1;
}
.logicPage .crclmSec--inference {
  height: 943px;
  border-radius: 80px;
  background-color: #f3f2ff;
  padding-top: 100px;
}
.logicPage .crclmSec--categorization {
  height: 845px;
  border-radius: 500px 500px 0 0;
  background-color: #f3f2ff;
  padding-top: 131px;
}
.curriculumPage.logicPage .crclmSec__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.58;
  letter-spacing: -1.92px;
  text-align: center;
}
.logicPage .crclmSec--discrimination .crclmSec__title {
  padding-top: 95px;
  background: url('@/assets/img/CurriculumPage/logicPage/img_logic_box_01.png')
    no-repeat 50% 0/190px 69px;
}
.logicPage .crclmSec--memory .crclmSec__title {
  padding-top: 165px;
  background: url('@/assets/img/CurriculumPage/logicPage/img_logic_box_02.png')
    no-repeat 50% 0/152px 140px;
}
.logicPage .crclmSec--grouping .crclmSec__title {
  padding-top: 117px;
  background: url('@/assets/img/CurriculumPage/logicPage/img_logic_box_03.png')
    no-repeat 50% 0/94px 92px;
}
.logicPage .crclmSec--space .crclmSec__title {
  padding-top: 134px;
  background: url('@/assets/img/CurriculumPage/logicPage/img_logic_box_04.png')
    no-repeat 50% 0/96px 109px;
}
.logicPage .crclmSec--inference .crclmSec__title {
  padding-top: 123px;
  background: url('@/assets/img/CurriculumPage/logicPage/img_logic_box_05.png')
    no-repeat 50% 0/98px 98px;
}
.logicPage .crclmSec--categorization .crclmSec__title {
  padding-top: 64px;
  background: url('@/assets/img/CurriculumPage/logicPage/img_logic_box_06.png')
    no-repeat 50% 0/188px 49px;
}
.curriculumPage.logicPage
  .crclmSec__title
  .crclmSec__titleMain
  .strongBox__text,
.curriculumPage.logicPage
  .crclmSec__title
  .crclmSec__titleSub
  .strongBox__text {
  color: #8d7fe4;
}
.curriculumPage.logicPage .crclmSec__titleText {
  margin-top: 23px;
  padding-bottom: 64px;
  display: block;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: -1.28px;
  text-align: center;
  color: #232323;
}
.curriculumPage.logicPage .crclmSec__studyCardDesc {
  position: relative;
  height: auto;
  background: none;
  padding: 20px 0 0;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.42;
  letter-spacing: -0.96px;
  color: #555;
  text-align: center;
}
.curriculumPage.logicPage .crclmSec__crclmList {
  gap: 40px;
}
.curriculumPage.logicPage .crclmSec__studyCardDesc::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 24px;
  height: 3px;
  background-color: #8d7fe4;
}
.curriculumPage.logicPage .crclmSec__studyCard {
  width: 293px;
}
.curriculumPage.logicPage .crclmSec__studyCard p {
  color: #aaa3d6;
}
/* 커리큘럼 페이지__논리__crclmSec E */
/* 커리큘럼 페이지__논리 E */

/* 커리큘럼 페이지__실험실 S */
.curriculumPage.labPage .introSec {
  padding-bottom: 140px;
}
.curriculumPage.labPage .introSec__title {
  background: url('@/assets/img/CurriculumPage/labPage/img_title_lab.png')
    no-repeat 0 50%/136px 142px;
}
.curriculumPage.labPage .introSec__title .strongBox__underline {
  opacity: 0.24;
}
.curriculumPage.labPage .introSec__detailList {
  padding-top: 72px;
  display: flex;
  justify-content: center;
  gap: 18px;
}
.curriculumPage.labPage .introSec__detailCard {
  position: relative;
  box-sizing: border-box;
  width: 522px;
  height: 468px;
  border-radius: 24px;
  padding: 44px 20px 32px;
}
.curriculumPage.labPage .introSec__detailCard.info1 {
  background: url('@/assets/img/CurriculumPage/labPage/img_info_lab.png')
    #ffeff6 no-repeat 50% 168px/428px 266px;
}
.curriculumPage.labPage .introSec__detailCard.info2 {
  background: url('@/assets/img/CurriculumPage/labPage/img_info_lab_2.png')
    #ffeff6 no-repeat 50% 168px/428px 266px;
}
.curriculumPage.labPage .introSec__detailCard h4 {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: -1.28px;
}
.curriculumPage.labPage .introSec__detailCard p {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: -0.96px;
  left: 0;
  bottom: 27px;
  color: #555;
}
/* 커리큘럼 페이지__실험실__crclmSec S */
.labPage .crclmSec__wrap {
  padding: 160px 0 262px;
  width: 1062px;
}
.labPage .crclmSec {
  padding-top: 120px;
  box-sizing: border-box;
}
.labPage .crclmSec + .crclmSec {
  margin-top: 200px;
}
.labPage .crclmSec--machine {
  height: 813px;
  background: url('@/assets/img/CurriculumPage/labPage/bg_lab_box_01.png')
    no-repeat 0 0/1062px 813px;
}
.labPage .crclmSec--ai {
  height: 812px;
  background-color: #f3f2ff;
  background: url('@/assets/img/CurriculumPage/labPage/bg_lab_box_02.png')
    no-repeat 50% 0/1062px 812px;
  padding-top: 100px;
}
.labPage .crclmSec--environment {
  height: 785px;
  background: url('@/assets/img/CurriculumPage/labPage/bg_lab_box_03.png')
    no-repeat 50% 0/1063px 785px;
  padding-top: 100px;
}
.labPage .crclmSec--space {
  height: 808px;
  background: url('@/assets/img/CurriculumPage/labPage/bg_lab_box_04.png')
    no-repeat 50% 0/1062px 808px;
  padding-top: 80px;
}
.curriculumPage.labPage .crclmSec__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.38;
  letter-spacing: -1.92px;
  text-align: center;
}
.labPage .crclmSec--machine .crclmSec__title {
  padding-top: 148px;
  background: url('@/assets/img/CurriculumPage/labPage/img_lab_box_01.png')
    no-repeat 50% 0/262px 122px;
}
.labPage .crclmSec--ai .crclmSec__title {
  padding-top: 105px;
  background: url('@/assets/img/CurriculumPage/labPage/img_lab_box_02.png')
    no-repeat 50% 0/208px 80px;
}
.labPage .crclmSec--environment .crclmSec__title {
  padding-top: 70px;
  background: url('@/assets/img/CurriculumPage/labPage/img_lab_box_03.png')
    no-repeat 50% 0/207px 44px;
}
.labPage .crclmSec--space .crclmSec__title {
  padding-top: 162px;
  background: url('@/assets/img/CurriculumPage/labPage/img_lab_box_04.png')
    no-repeat 50% 0/193px 132px;
}
.curriculumPage.labPage .crclmSec__title .crclmSec__titleMain .strongBox__text {
  color: #ff6f97;
}
.curriculumPage.labPage .crclmSec__titleText {
  margin-top: 28px;
  padding-bottom: 65px;
  display: block;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: -1.28px;
  text-align: center;
  color: #232323;
}
.labPage .crclmSec__titleText strong.underline {
  position: relative;
  display: inline-block;
}
.labPage .crclmSec__titleText strong.underline::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  background-color: #ff6f97;
  opacity: 0.8;
  border-radius: 2px;
  left: 0;
  bottom: 0;
}
.curriculumPage.labPage .crclmSec__crclmList {
  gap: 40px;
}
.curriculumPage.labPage .crclmSec__studyCard {
  width: 293px;
}
.curriculumPage.labPage .crclmSec__studyCard p {
  color: #f091ab;
}
/* 커리큘럼 페이지__실험실__crclmSec E */
/* 커리큘럼 페이지__실험실 E */

/* 커리큘럼 페이지__푸터 S */
.crclmFooter {
  position: relative;
  z-index: 10;
}
.crclmFooter__fellowList {
  width: 1062px;
  margin: 0 auto;
  display: flex;
  padding: 114px 0 111px;
}
.crclmFooter--math {
  background-color: #00cb50;
}
.crclmFooter--coding {
  background-color: #019bff;
}
.crclmFooter--logic {
  background-color: #8d7fe4;
}
.crclmFooter--lab {
  background-color: #ff7fa3;
}
.crclmFooter--social {
  background-color: #ffcd03;
}
.crclmFooter__fellowList > li {
  width: 50%;
}
.crclmFooter__fellowTitle {
  color: white;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.38;
  letter-spacing: -1.92px;
}
.crclmFooter__fellowImg {
  width: 119px;
  height: auto;
  margin-top: 37px;
}
.crclmFooter__fellows {
  margin-top: 30px;
  font-size: 24px;
  line-height: 1.83;
  letter-spacing: -0.96px;
}
.crclmFooter__fellows,
.crclmFooter__fellows strong {
  color: white;
}
.crclmFooter__fellows strong {
  font-weight: 900;
}
/* 커리큘럼 페이지__푸터 E */
/*** 커리큘럼 페이지 E ***/
