/*** 공통 S ***/
* {
  color: black;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('@/assets/fonts/NanumSquareRoundL.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('@/assets/fonts/NanumSquareRoundR.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('@/assets/fonts/NanumSquareRoundB.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'NanumSquareRound';
  src: url('@/assets/fonts/NanumSquareRoundEB.ttf') format('truetype');
  font-weight: 900;
}

html,
body,
#app {
  width: 100%;
  font-family: 'NanumSquareRound', '-apple-system', 'BlinkMacSystemFont',
    'SFProDisplay', 'AppleSDGothicNeo', 'HelveticaNeue', 'Helvetica', arial,
    'sans-serif';
  font-weight: 500;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blind {
  overflow: hidden !important;
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
}
/*** 공통 E ***/

/*** 헤더 S ***/
.header {
  position: fixed;
  z-index: 100;
  background-color: white;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
  width: 100%;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.header--hide {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.header--yellow {
  background-color: #fffbee;
}
.header--skyblue {
  background-color: #f9fafd;
}
.header__nav {
  width: 1062px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* 헤더__로고 S */
.header__logoHeading {
  width: 252px;
  background: url('@/assets/img/common/gnb/logo_pc.png');
  background-size: 252px auto;
  margin-top: 17px;
}
.header__logoLink {
  display: block;
  width: 170px;
  height: 54px;
}
/* 헤더__로고 E */

/* 헤더__gnb S */
.header__gnbList {
  gap: 18px;
}
.header__gnbList--onSub {
  padding-bottom: 109px;
}
.header__gnbItem {
  position: relative;
}
.header__gnbItemLink {
  position: relative;
  width: 162px;
  height: 88px;
  font-size: 20px;
  font-weight: 900;
}
.header__gnbItemLink--on {
  color: #ffcd03;
}
.header__gnbItemLink--on::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: 0;
  background-color: #ffcd03;
}
.header__gnbSubList {
  position: absolute;
  top: 88px;
  height: 109px;
}
.header__gnbSubList.curriculum {
  transform: translate(calc(-405px + 81px), 0);
}
.header__gnbSubItem {
  color: #555;
}
.header__gnbSubItem--on {
  color: black;
  background-color: #f2f6fc;
  border-radius: 100px;
}
.header__gnbSubList.workbook .header__gnbSubItem--on.level1 {
  background-color: #ffe990;
}
.header__gnbSubItemLink {
  color: inherit;
  box-sizing: border-box;
  width: 162px;
  height: 54px;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -0.6px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink {
  padding-left: 73px;
  padding-right: 32px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink--1 {
  background: url('@/assets/img/common/gnb/nav_link_sub_01.png') no-repeat 34px
    50%/35px 28px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink--2 {
  background: url('@/assets/img/common/gnb/nav_link_sub_02.png') no-repeat 34px
    50%/35px 28px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink--3 {
  background: url('@/assets/img/common/gnb/nav_link_sub_03.png') no-repeat 34px
    50%/35px 28px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink--4 {
  background: url('@/assets/img/common/gnb/nav_link_sub_04.png') no-repeat 34px
    50%/35px 28px;
}
.header__gnbSubList.curriculum .header__gnbSubItemLink--5 {
  background: url('@/assets/img/common/gnb/nav_link_sub_05.png') no-repeat 34px
    50%/35px 28px;
}
/* 헤더__gnb E */
/*** 헤더 E ***/

/*** 인트로 페이지 ***/
/* 인트로 페이지__introSec S */
#introPage .introSec {
  position: relative;
  box-sizing: border-box;
  padding-top: 94px;
  height: 1201px;
  background: url('@/assets/img/IntroPage/intro/jr-pc-main-bg-v2.png') #f2f5fb
    no-repeat 50% 0/2048px 1080px;
  overflow: hidden;
}
#introPage .introSec::after {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: 20;
  display: block;
  width: 100%;
  height: 240px;
  background: url('@/assets/img/IntroPage/intro/spot_gradient_tb.png');
}
#introPage .introSec__inner {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 30;
  box-sizing: border-box;
  max-width: 1062px;
  height: 1080px;
  margin: 0 auto;
  padding-top: 220px;
}
#introPage .introSec__bgSlide {
  position: absolute;
  z-index: 10;
  margin-left: 110px;
  left: 50%;
  top: 70px;
  width: 2295px;
  height: 1201px;
  background: url('@/assets/img/IntroPage/intro/jr-pc-main-v3.png') no-repeat 0
    0/2295px 1201px;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}
#introPage .introSec__bgSlide--on {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
#introPage .introSec__titleBox {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -1.28px;
}
#introPage .introSec__titleImg {
  width: 432px;
  height: 101px;
  margin-top: 25px;
}
#introPage .introSec__desc1 {
  margin-top: 40px;
  letter-spacing: -1.28px;
  line-height: 48px;
  font-size: 32px;
  color: #6c7683;
}
#introPage .introSec__desc2Box {
  position: relative;
}
#introPage .introSec__desc2 {
  margin-top: 28px;
  display: block;
  width: fit-content;
  padding: 0 20px;
  background-color: #dbe4f2;
  color: #6c768e;
  letter-spacing: -0.88px;
  line-height: 49px;
  border-radius: 8px;
  font-size: 22px;
}
#introPage .introSec__desc2::after {
  content: '';
  position: relative;
  top: 3px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 8px;
  background: url('@/assets/img/IntroPage/intro/ico_notice.png');
  background-size: 24px 24px;
}
#introPage .introSec__desc2Sub {
  position: absolute;
  top: 100%;
  box-sizing: border-box;
  width: 404px;
  height: 246px;
  padding: 50px 24px 0;
  background: url('@/assets/img/IntroPage/intro/notice_text_bg.png') no-repeat 0
    100%/404px 238px;
  font-size: 20px;
  letter-spacing: -2.7px;
  line-height: 1.7;
  z-index: 25;
}
#introPage .introSec__desc2Sub strong {
  font-weight: 900;
}
#introPage .introSec__downBtnBox {
  position: relative;
  box-sizing: border-box;
  margin-top: 46px;
  width: 169px;
}
#introPage .introSec__dropdownBtn {
  display: block;
  width: 100%;
  height: 79px;
  font-size: 28px;
  letter-spacing: -2.12px;
  font-weight: 900;
  color: white;
  background-color: #232323;
  text-align: center;
  line-height: 79px;
  border-radius: 12px;
  cursor: pointer;
}
#introPage .introSec__dropdownBtn--hover {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid rgba(85, 85, 85, 0.32);
}
#introPage .introSec__downBtnList {
  position: absolute;
  top: 100%;
  box-sizing: border-box;
  width: 169px;
  padding: 13px 18px 24px;
  background-color: #232323;
  border-radius: 0 0 12px 12px;
}
#introPage .introSec__downBtnList > li {
  position: relative;
  border-radius: 6px;
}
#introPage .introSec__downBtnList > li:not(:nth-child(1)) {
  margin-top: 12px;
}
#introPage .introSec__downBtnList > li:nth-last-child(1) {
  margin-top: 20px;
}
#introPage .introSec__downBtn {
  display: block;
  height: 45px;
  position: relative;
  z-index: 10;
}
#introPage .introSec__downBtn::after {
  content: '';
  display: block;
  width: 100%;
  height: 45px;
  position: absolute;
  top: 0;
  z-index: 5;
}
#introPage .introSec__downBtn:hover::after {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}
#introPage .introSec__downBtn.google {
  background: url('@/assets/img/IntroPage/intro/ico_google_play.png') no-repeat
    50% 50%/115px 28px;
}
#introPage .introSec__downBtn.apple {
  background: url('@/assets/img/IntroPage/intro/ico_app_store.png') no-repeat
    50% 50%/112px 29px;
}
#introPage .introSec__qrImg {
  width: 100%;
  height: auto;
}
#introPage .introSec__toDownBtn {
  align-self: center;
  position: absolute;
  bottom: 69px;
  z-index: 20;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: url('@/assets/img/IntroPage/intro/btn_down.png');
  background-repeat: no-repeat;
  background-position: -23px -23px;
  background-size: 104px 104px;
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
/* 인트로 페이지__introSec E */

/* 인트로 페이지__rcmdSec S */
.rcmdSec {
  background: url('@/assets/img/IntroPage/recommend/jr-pc-section-1.png') #fff
    no-repeat 50% 180px/1548px 327px;
}
.rcmdSec__intro {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.rcmdSec__title {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  padding-top: 40px;
  line-height: 60px;
  letter-spacing: -2.5px;
}
.rcmdSec__title > span {
  position: relative;
}
.rcmdSec__title > span .text {
  position: relative;
  z-index: 10;
}
.rcmdSec__title > span::after {
  position: absolute;
  z-index: 5;
  bottom: -6px;
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  background-color: #ffcd03;
  border-radius: 4px;
}
.rcmdSec__awardsImg {
  width: 860px;
  height: auto;
}

.rcmdSec__spinner {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 245px;
  line-height: 245px;
  background-color: lightgray;
  margin: 20px auto 120px;
  font-size: 25px;
}

.swiper {
  margin: 20px auto 120px;
  width: 100%;
  height: 245px;
}
.rcmdSec .swiper-slide {
  width: 340px;
}
.rcmdSec__card {
  box-sizing: border-box;
  width: 100%;
  height: 210px;
  padding: 30px 36px 26px 30px;
  background-color: #e9ebf1;
  border: 3px solid #e9ebf1;
  border-radius: 20px;
  -webkit-transition-property: margin;
  transition-property: margin;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.swiper-slide-prev .rcmdSec__card,
.swiper-slide-next .rcmdSec__card {
  margin: 35px auto 0;
}
.rcmdSec__card .text {
  font-size: 24px;
  color: #a3a3b5;
  font-weight: 900;
  line-height: 34px;
  letter-spacing: -0.96px;
}
.rcmdSec__card .name {
  margin-top: 28px;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.72px;
  color: rgba(163, 163, 181, 0.5);
}
.swiper-slide-active .rcmdSec__card {
  background-color: #fff8e3;
  border: 3px solid #ffab31;
}
.swiper-slide-active .rcmdSec__card .text {
  color: #ffab31;
}
.swiper-slide-active .rcmdSec__card .name {
  color: rgba(255, 171, 49, 0.5);
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  z-index: 10;
  top: calc(50% - 24px);
  cursor: pointer;
  width: 48px;
  height: 48px;
  -webkit-box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50%;
}
.swiper-button-prev {
  background: url('@/assets/img/IntroPage/recommend/icon-90-arrow-left-gray.png')
    #fff no-repeat 50% 50%/28px auto;
  left: 35px;
}
.swiper-button-next {
  background: url('@/assets/img/IntroPage/recommend/icon-90-arrow-right-gray.png')
    #fff no-repeat 50% 50%/28px auto;
  right: 35px;
}
/* 인트로 페이지__rcmdSec E */
/*** 인트로 페이지 E ***/
